[submodule "modules/nyl-foundation"]
	path = modules/nyl-foundation
	url = https://github.com/anroy90/nyl-foundation.git
	branch = main
[submodule "modules/nylcom"]
	path = modules/nylcom
	url = https://github.com/anroy90/nylcom.git
	branch = main
